.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem;
    margin-top: 0;
}

.violation{
    border-left: 3px solid #D78B48;
    margin-left: 1rem;
}

.icon-search{
width: 50px;
height: 50px;
margin-right: 0.5rem;
}

.search-item{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.boxx {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 100px;
    width: 800px;
    border: 2px solid #D78B48;
    border-left: 0;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid #D78B48;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
}

.textt {
    margin: 0;
    
}