.icon-note{
    margin-right: 0.5rem;
}

.row {
    display: flex;
}

.component {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.clock{
    width: 32px;
    height: 32px;
}

.custom-typography {
    border-bottom: 3px solid #D78B48;
    margin-bottom: 1rem;
}

.title-box {
    border: 3px solid #D78B48;
    margin-right: 2rem;
    font-weight: bold;
    padding: 10px;
    height: 80px;
    width: 300px;
}

.text-box {
    background-color: #D78B48;
    margin-left: 2rem;
    padding: 10px;
    height: 70px;
}

/* 
.title-box,
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
} */