.icon-note{
    margin-right: 0.5rem;
}

.icon-quote {
    margin-bottom: 1.1rem;
}

.row {
    display: flex;
}

.component {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.clock{
    width: 32px;
    height: 32px;
}

.custom-typography {
    border-bottom: 3px solid #D78B48;
    margin-bottom: 1rem;
}

.title-box {
    border: 3px solid #D78B48;
    margin-right: 5rem;
    font-weight: bold;
    padding: 10px;
    height: 80px;
    width: 300px;
}

.text-box {
    background-color: #D78B48;
    margin-left: 5rem;
    padding: 10px;
    height: 80px;
    width: 290px;
}

.decision{
    
}
.row1 {
    display: flex;
}

.component1 {
    flex: 1;
    border: 2px solid #D78B48;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.component1 h3 {
    font-weight: bold;
    margin: 0 0 10px;
}

.content1 {
    font-size: 16px;
}