.jurisdiction-section {
    margin: 20px;
    padding: 20px;
    border: 3px solid #D78B48;
    margin-bottom: 3rem;
}
.title{
    margin-left: 2rem;
}


.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #D78B48;
}

